@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0px;
}
body{
    background: #F5F5F9 !important;
max-width: 1366px;
margin: auto;
}
.navbar-expand-lg{
    background-color: white;
    height: 60px;
}
.text__fond{
    text-decoration: none;
    font-family: Montserrat;
font-weight: 500;
line-height: 20px;
text-align: center;
font-size: 14px;
color: #21242999;
}
.me-auto{
    margin-left: 14px;
    gap: 17px;
}
.navbar-brand img{
    height: 22px;
    margin-left: 12px
}
.navbar__display{
    display: flex;
    align-items: center;
gap: 13px;
}
.navbar__contacts{
    display: flex;
    gap: 13px;

}
.text__fond__phone{
    font-size: 14px;
    margin-right: 25px;
}
.navbar__contact{
    background: #212429;
width: 32px;
height: 32px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
color: white;
}
.dropdown-toggle::after{
margin-left: 10px;
font-size: 23px;
position: relative;
top: 4px;

}
.btn-prokat{
    background: linear-gradient(135deg, #00FFAA 0%, #00BBFF 53.09%, #4579F5 100%);
    width: 171px;
    height: 44px;
    gap: 10px;
    border-radius: 80px;
    opacity: 0px;
    color: white;
    font-family: Montserrat;
font-size: 14px;
font-weight: 600;
line-height: 20px;
margin-right: 9px;
}
.navbar-toggler{
    border: none;
}
.toggle_button{
    width: 44px ;
    height: 44px;
    border-radius: 50%;
    background: linear-gradient(135deg, #00FFAA 0%, #00BBFF 53.09%, #4579F5 100%);
    box-shadow: 0px 2px 4px -1px #0A46521F, 0px 0px 1px 0px #00BBFF3D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-toggler .bx-x{
display: none;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.collapsed img{
display: none;
}
.collapsed .bx-x{
    display: block;
} 
@media(max-width:991px){
    .navbar-collapse{
        background: #F5F5F9;

    }
    .navbar__display{
        display: grid !important;
        text-align: center;

    }
    .text__fond__phone{
        margin: auto;
    }
    .btn-prokat{
        margin: auto;
    }
    .navbar__contacts{
       justify-content: center;
    }
}